.footer__link {
    font-size: 16px;
    line-height: 112%;
    text-decoration: none;
    color: #FFF;
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 24px;
    transition: opacity 0.7s;
}

.footer__link:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 0;
    }
}