.intro__text {
    max-width: 690px;
    font-size: 16px;
    line-height: 163%;
    margin: 0;
    margin-top: 38px;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__text {
        margin-top: 40px;
        max-width: 720px;
    }
}